<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/i18n/angular-locale_pt-br.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/style.css">
    <script src="../../Scripts/script.js"></script>
    <title>TaskManager - Cadastrar Categorias</title>
</head>

<body data-ng-app="app">

    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a class="taskmanager" href="../index.html">
                        <span class="fa fa-edit manager-logo"></span>
                        <span class="task-logo">Task</span>
                        <span class="manager-logo">Manager</span>
                    </a>
                </li>
                <li>
                    <a class="side-bar-item" href="../index.html">
                        <span class="fa fa-home"></span> Home</a>
                </li>
                <li>
                    <a class="side-bar-item" href="../Home/HomeIndex.html">
                        <span class="fa fa-tasks"></span> Controle de Tarefas</a>
                </li>
                <li>
                    <a class="side-bar-item" href="../Task/TaskIndex.html">
                        <span class="fa fa-plus"></span> Cadastrar Tarefa</a>
                </li>
            </ul>
        </div>

        <div id="page-content-wrapper" data-ng-controller="CategoryController as Cats">

            <div class="pos-f-t">
                <nav class="navbar-inverse bg-inverse">
                    <div class="container container-fluid">
                        <button href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">
                            <span class="fa fa-navicon"></span>
                        </button>
                    </div>
                </nav>
            </div>

            <div class="container" ng-init="catList = Cats.categorias">
                <h2>GERENCIAR CATEGORIAS</h2>
                <hr>
                <form class="form-inline" ng-init="Cats.verify(novaCategoria, catList, true)">

                    <input id="user-input" type="text" class="form-control col-sm-4 mb-2 mb-sm-0" id="inlineFormInput" placeholder="Forneça um nome para a nova categoria..."
                        data-ng-model="novaCategoria" ng-change="Cats.verify(novaCategoria, catList, false)">

                    <button id="button-status" class="btn btn-info col-sm-8 mb-2 mb-sm-0">
                        <span class="fa fa-info-circle"> Cadastre aqui uma nova Categoria</span>
                    </button>

                    <button id="button-submit" class="d-none" ng-click="Cats.addCategoria(novaCategoria, catList); Cats.eraseInput();
                    novaCategoria = ''">
                        <span class="fa fa-plus-circle"> Cadastrar</span>
                    </button>

                </form>

                <table class="table table-inverse">
                    <thead>
                        <tr>
                            <th>
                                <span class="fa fa-list-alt"></span> Categorias Cadastradas
                            </th>
                            <th>
                                <span class="fa fa-trash"></span> Deletar Categoria
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, value) in catList | filter:novaCategoria">
                            <td>{{ value.nome }}</td>
                            <td>
                                <button class="btn btn-danger" ng-click="Cats.removeCategoria(catList, key);
                                Cats.eraseInput(); novaCategoria = '';Cats.verify('', '', true)">
                                    <span class="fa fa-remove"></span> Deletar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button id="status-remove" class="d-none"></button>
            </div>
        </div>
    </div>
</body>

</html>